# ======================
# Global ignores
# ======================
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp

# ======================
# Backend (Laravel)
# ======================
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/storage/*.log
backend/storage/*.cache
backend/storage/debugbar/
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/bootstrap/cache/*

backend/.env
backend/.env.*
backend/.phpunit.result.cache
backend/.php-cs-fixer.cache
backend/Homestead.yaml
backend/Homestead.json
backend/.idea/
backend/.vscode/

backend/public/hot
backend/public/storage
backend/public/mix-manifest.json
backend/public/build
backend/public/js/*.js
backend/public/css/*.css
backend/public/js/*.map
backend/public/css/*.map

# ======================
# Frontend (Laravel)
# ======================
frontend/vendor/
frontend/node_modules/
frontend/storage/*.key
frontend/storage/*.log
frontend/storage/*.cache
frontend/storage/debugbar/
frontend/storage/framework/cache/*
frontend/storage/framework/sessions/*
frontend/storage/framework/views/*
frontend/storage/logs/*
frontend/bootstrap/cache/*

frontend/.env
frontend/.env.*
frontend/.phpunit.result.cache
frontend/.php-cs-fixer.cache
frontend/Homestead.yaml
frontend/Homestead.json
frontend/.idea/
frontend/.vscode/

frontend/public/hot
frontend/public/storage
frontend/public/mix-manifest.json
frontend/public/build
frontend/public/js/*.js
frontend/public/css/*.css
frontend/public/js/*.map
frontend/public/css/*.map

# ======================
# Frontend React
# ======================
frontend-react/node_modules/
frontend-react/build/
frontend-react/dist/
frontend-react/.cache/
frontend-react/.next/
frontend-react/out/

frontend-react/coverage/
frontend-react/*.lcov

frontend-react/npm-debug.log*
frontend-react/yarn-debug.log*
frontend-react/yarn-error.log*
frontend-react/pnpm-debug.log*
frontend-react/package-lock.json
frontend-react/yarn.lock
frontend-react/pnpm-lock.yaml

frontend-react/.env
frontend-react/.env.local
frontend-react/.env.development.local
frontend-react/.env.test.local
frontend-react/.env.production.local

frontend-react/.idea/
frontend-react/.vscode/
